*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.contenedor{
    width: 90%;
    max-width: 100%;
    margin: auto;
    font-family: 'Spicy Rice', cursive;
    display: flex;
    flex-flow: row wrap;
}

header{
    background: gold;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

header nav{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

header nav a{
    background: black;
    color: gold;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border-radius: 32px;
    flex-grow: 1;
}

header nav a:hover{
    background: white;
    color: black;
}

.menuLista{
    position: fixed;
    background: rgba(0, 0, 0, 70%);
    border-radius: 25px;
    left: -100%;
    top: 10%;
    bottom: 5%;
    width: 90%;
    z-index: 1;
    transition: transform ease 1s;
}

.mostrarMenuLista{
    transform: translateX(calc(100% + 15vw));
}

.menuLista ul{
    color: white;
    margin: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1em;
    justify-content: center;
}

.menuLista ul li{
    grid-column: 2/3;
    grid-row: 2.5/5;
    text-align: center;
    border-radius: 20px;
    list-style: none;
    padding: 40px;
    font-size: 30px;
}

.menuLista ul li:hover{
    background: white;
    color: black;
}

.hamburgerButton{
    position: fixed;
    z-index: 2;
    bottom: 1em;
    right: 1%;
    padding: 1em;
}

#botonHamburguer{
    background: gold;
    border-radius: 25px;
}

.secciones{
    display: flex;
    flex-flow: row wrap;
}

.Inicio, .Blog, .Contacto, .About{
    background: rgba(0, 0, 0, 90%);
    color: white;
    padding: 50px;
    margin: 10%;
    text-align: center;
    font-size: 24px;
}

h2{
    text-align: center;
    margin-bottom: 50px;
}