* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0f2027;  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header {
  background-color: burlywood;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

section {
  display: grid;
  gap: 1rem;
  grid-auto-columns: repeat(2, 1fr);
  grid-auto-rows: repeat(2, 1fr);
  width: 50%;
  background: cornflowerblue;
  margin: auto;
  margin-top: 10%;
  padding: 1rem;
  text-align: center;
  font-size: 24px;
  border-radius: 20px;
}

h3{
    grid-column: 1/3;
    grid-row: 1/2;
}

.texto{
    grid-column: 1/2;
    grid-row: 2/3;
}

.tiempo{
    grid-column: 2/3;
    grid-row: 2/3;
}