* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spicy Rice", cursive;
}

body {
  background: #0f2027;
  background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
}

header {
  position: sticky;
  top: 0;
  text-align: center;
  padding: 1vw;
  letter-spacing: 1rem;
  background: #485563; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #29323c,
    #485563
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #29323c,
    #485563
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

main {
  display: inline-block;
  margin-top: 5vh;
  margin-left: 10vw;
  margin-right: 10vw;
  width: 80vw;
  text-align: center;
}

form {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

form-section {
  grid-column: 2/4;
  grid-row: 1/2;
  padding: 1rem;
  border-radius: 1rem;
  background: #283c86; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #45a247,
    #283c86
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #45a247,
    #283c86
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

form form-section h2 {
  display: inline-block;
  padding-left: 1rem;
  padding-right: 1rem;
}

[type="button"] {
  grid-row: 2/2;
  font-size: 24px;
  border-radius: 2rem;
}

[type="button"]:hover {
  background: lightcoral;
}
